.content_post {
  margin-top: 40px;
}

.content_post_title {
  font-size: 28px;
  color:black;
  margin-bottom: 20px
}

.content_post_subtitle {
  color:#909091;
  font-size:18px;
  margin-bottom: 50px
}

.content_text {
  margin: 50px;
  font-size: 16px;
}